/* Увеличиваем базовый размер шрифта */
.sapUiBody {
  font-size: 1rem !important; /* стандартный размер +2px */
}

/* Увеличиваем заголовки */
.sapMTitle,
.sapMLabel {
  font-size: 1.15rem !important; /* стандартный 16px +2px */
}

.myClearButton .sapMBtnInner.sapMBtnReject {
  display: block !important;
}
.myConfirmButton .sapMBtnInner.sapMBtnEmphasized {
  display: block !important;
}

/* Увеличиваем текст в контролах */
.sapMInputBaseInner,
.sapMBtnContent,
.sapMText,
.sapMSelectListItemBase,
.sapUiFormTitleH5,
.sapMSlt > .sapMSltLabel {
  font-size: 1rem !important;
}

.sapMLIB td {
  padding-top: 0.5rem !important;
}

.sapMLIB:first-child td {
  padding-top: 0.75rem !important;
}

.sapMLIB:last-child td {
  padding-bottom: 0.75rem !important;
}

.sapMLIB.sapMListTblRow {
  background: transparent;
}
.sapMLIBShowSeparator > td {
  border: none;
}
.sapMListTblNavigatedCell {
  border: none;
}

.sapMLabelTextWrapper {
  font-weight: bold !important;
}

.sapUiFormLayout.sapUiFormBackgrSolid,
.sapUiFormLayout.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormCL.sapUiFormBackgrSolid,
.sapUiFormCL.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiGrid.sapUiFormBackgrSolid,
.sapUiGrid.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormResGrid.sapUiFormBackgrSolid,
.sapUiFormResGrid.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormResLayout.sapUiFormBackgrSolid,
.sapUiFormResLayout.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

li[id*="customDisableWpOperatingmodeId-1"] {
  pointer-events: none !important;
}
li[id*="customDisableWpOperatingmodeId-2"] {
  pointer-events: none !important;
}
