.sapMInputBase,
.sapMSlt {
  margin-top: 0;
}
.sapMLIB.sapMListTblRow {
  background: transparent;
}
.sapMLIBShowSeparator > td {
  border: none;
}
.sapMListTblNavigatedCell {
  border: none;
}
.sapUiFormTitleH5 {
  font-size: 1rem !important;
}
.sapMLabelTextWrapper {
  font-weight: bold !important;
}

.sapUiFormLayout.sapUiFormBackgrSolid,
.sapUiFormLayout.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormCL.sapUiFormBackgrSolid,
.sapUiFormCL.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiGrid.sapUiFormBackgrSolid,
.sapUiGrid.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormResGrid.sapUiFormBackgrSolid,
.sapUiFormResGrid.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}

.sapUiFormResLayout.sapUiFormBackgrSolid,
.sapUiFormResLayout.sapUiFormBackgrTranslucent {
  background-color: #fff;
  border-radius: 0.75rem;
}
